@{
    ViewBag.Title = "Create Villa";
}

@model CreateVillaNumberRequest


<div class="container">

    <div class="container">
        <h1>Add New Villa Number</h1>
        <hr />
    </div>

     


    <div class="container">
            <form  method="post" asp-action="Create" asp-controller="VillaNumber">


            <div class=" form-group m-2">
                <label class="m-2" for="villaNo">Vill No: </label>
                <input id="villaNo" type="text" asp-for="@Model.VillaNo" class="form-control" />
            </div>


            <div class=" form-group m-2">
                <label class="m-2" for="SpecialDetails">Special Details: </label>
                <textarea id="SpecialDetails" class="form-control" asp-for="@Model.SpecialDetails"></textarea>
            </div>
                  
                
                <div class=" form-group m-2">
                <label class="m-2" for="Villa">Villa: </label>
                    <select id="Villa" asp-for="VillaId">
                        @foreach (var villa in ViewBag.Villas)
                        {
                            <option value="@villa.Id" >@villa.Name</option>
                        }
                    </select>
                </div>
                
                 <div>
                      <input type="submit" class="btn btn-success" value="Add" />
                 </div>
        </form>
    </div>




</div>